table {
    font-family: verdana;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    
    margin: 0px auto;
    border-collapse: collapse;
    clear: left;
}

table.aktiviti {
    width: 750px;
}

h3 {
    font-family: verdana;
}

h3.tajuk {
    font-size: 16px;
    padding: 8px;
    margin: 0px auto;
    border-radius: 10px;
    color: white;  
}

h3.laporan {
    font-size: 14px;
    color:white; 
}

div.laporan {
    width: 100%;
    text-align: center;
}

td, th {
    padding: 8px;
    border: 2px solid mediumorchid;
}

td.nama {
    width: 200px;
    text-align: left;
}

tr: nth-child(odd) {
    background-color: thistle;
}

tr:nth-child(odd) {
    background-color: thistle;
}

tr:nth-child(even) {
    background-color: white;
}

th {
    font-weight: bold;
    color: white;
    background-color: purple;
}

caption {
    font-size: 16px;
    font-weight: bold;
    color: yellow;
    padding: 8px;
    margin-top: 5px;
}
